<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>UntitledMail</title>
    <style>
        body { font-family: "Liberation Mono"; }
    </style>
</head>

<body>
    <h1>UntitledMail</h1>

    E-mail enviado desde <b>$datos.desde</b>
    <br>
    para: <b>$datos.hasta</b>
    <br>
    con mensaje:
    <br>
    <textarea rows=1 cols=80>$datos.asunto</textarea>
    <br>
    <br>
    <textarea cols=80>$datos.contenido</textarea>
    
</body>

</html>